<!-- 
This template will let users sign in into our website. 
This displays the Login Form and we are using the crispy forms to stylize our forms using Bootstrap4. 
In Django, forms are very easy to render.

We have a submit button and forgot password option, 
Also, we have a link to the registration page.

We are extending the layout template from our Feeds app. 
Each template extends the layout which contains the header and footer part. 
Don’t worry for now about the layout.html file since we would cover it in Part 5 of the tutorial series.
 -->


{% extends "feed/layout.html" %} {% load static %} {% load crispy_forms_tags %}
{% block cssfiles %} {% endblock cssfiles %} {% block content %}
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center"><b>Sign In</b></h5>
                    <form class="form-signin" method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <br />
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                                Login</button><br /><br />
                            <a class="btn btn-lg btn-warning btn-block text-uppercase"
                                href="{% url 'password_reset' %}">Forgot Password?</a>
                        </div>
                        <small>
                            <p class="text-center">
                                Not registered yet!
                                <a href="{% url 'register' %}"><b>Register Now!</b></a>
                            </p>
                        </small>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}